"PropertyData/{{uuid}}": {
    "$typeid": "hxgn.pd:PropertyData-1.0.0",
    "label": "{{label}}",
    "name": "{{name}}",
    "value": [
        {
            "$typeid": "hxgn.rt:DataPoint-1.0.0",
            {{> dataset}},
            {{> unit}}
        }
    ]
}